.searchBar-2aylmZ, .searchBar-jGtisZ, .colorDefault-CDqZdO {
  border-radius: 15px;
}
.searchBar-jGtisZ, .colorDefault-CDqZdO {
  border-radius: 15px;
}
.searchBox-pyIJJj, .colorDefault-CDqZdO {
  border-radius: 15px;
}
